* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 1em;
}

body,
form,
textarea,
#output {
  height: 100%;
  width: 100%;
}

body,
form,
#left,
#right {
  display: flex;
}

body,
#left,
#right {
  flex-direction: column;
}

#header {
  flex: none;
}

#left,
#left > * {
  flex: 1;
}

textarea {
  resize: none;
}